<template>
  <div class="md-layout-item row">
    <md-field>
      <slot></slot>
      <md-button @click="$emit('addInput')" class="md-icon-button">
        <md-icon>add</md-icon>
      </md-button>
      <md-button @click="$emit('removeInput', index)" class="md-icon-button">
        <md-icon>remove</md-icon>
      </md-button>
    </md-field>
  </div>
</template>

<script>
export default {
  name: 'InputRow',
  props: {
    index: {
      type: Number,
      required: true
    },
    labelName: String,
    inputType: {
      type: String,
      default: 'text'
    }
  },
}
</script>

<style scoped>
  .row {
    flex: 0 0 100%;
  }
</style>
