<template>
  <div class="md-layout md-gutter">
    <InputRow v-for="(phoneNumber, index) in phoneNumbers"
              :key="index"
              :index="index"
              labelName="Phone"
              @addInput="addPhoneNumber"
              @removeInput="removePhoneNumber"
              class="input-row">

      <md-icon>phone</md-icon>
      <md-input v-model="phoneNumber.value"
                type="phone"
                placeholder="xxx-xxx-xxxx"/>

      <md-select v-model="phoneNumber.type" placeholder="Type" name="phoneType">
        <md-option value="mobile">Mobile</md-option>
        <md-option value="business">Business</md-option>
        <md-option value="land">Land</md-option>
      </md-select>
    </InputRow>
  </div>
</template>

<script>
import InputRow from './InputRow'

export default {
  name: 'PhoneNumbers',
  components: {
    InputRow
  },
  data() {
    return {
      phoneNumbers: [],
    }
  },
  methods: {
    addPhoneNumber() {
      this.phoneNumbers.push({value: null})
    },
    removePhoneNumber(index) {
      if (this.phoneNumbers.length > 1) {
        this.phoneNumbers.splice(index, 1)
      } else {
        this.$emit('notify', 'Can not delete last number')
      }
    }
  },
  created() {
    if (this.phoneNumbers.length === 0) {
      this.addPhoneNumber()
    }
  }
}
</script>
