<template>
  <div id="app" class="page-container">
    <md-app>
      <md-app-toolbar class="md-primary">
        <span class="md-title">Multi-input</span>
      </md-app-toolbar>

      <md-app-content>
        <PhoneNumbers @notify="notify" />

        <md-snackbar :md-active.sync="showSnackbar" class="snackbar">
          <span>{{errorMessage}}</span>
        </md-snackbar>
      </md-app-content>
    </md-app>
  </div>
</template>

<script>
import PhoneNumbers from './components/PhoneNumbers'

export default {
  name: 'app',
  components: {
    PhoneNumbers
  },
  data() {
    return {
      errorMessage: null,
      showSnackbar: false
    }
  },
  methods: {
    notify(message) {
      this.showSnackbar = true
      this.errorMessage = message
    }
  }
}
</script>
